:root{
    --SectionTitleColor: #3a408b;
    --SectionTitleSize: 1.5rem;
    --WelcomeTitletextSize: 2rem;
    --PhotoBorderRadius: 90px;
}
main{
    padding-top: 90px;
}

.columna{
    display: flex;
    flex-direction: column;
}

.centrado{
    align-items: center;
}

.title-of-section{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: var(--SectionTitleColor);
    font-size: var(--SectionTitleSize);
}

.tamaño{
    width: 100%;
    height: auto;
    padding: 40px;
}

#banner{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#welcome-title{
    margin: 20px;
    font-size: var(--WelcomeTitletextSize);
}

.personal-information{
    display: flex;
    flex-direction: row;
    width: 70%;
}

#my-photo{
    width: 180px;
    height: 241px;
    border-radius: var(--PhotoBorderRadius);
    margin: 10px;
}

#my-information{
    margin: 15px;
    text-align: left;
    
}

.lenguajes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    width: 70%;
}

.lenguajes div{
    width: 50%;
}

.lenguajes-list{
    display: flex;
}

.no-list{
    list-style: none;
}

.languaje-icon{
    width: 32px;
    height: auto;
    margin:10px;
}

.no-list li{
    display: flex;
    flex-direction: row;
    align-items: center;
}