:root {
    --Fondo: #280c61;
    --ColorLetra: #dfd5d5;
    --HeadFoot: #1a0446;
    --FontSize: 18px;
    --FontWeight: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--Fondo);
    font-size: var(--FontSize);
    font-weight: var(--FontWeight);
    text-align: justify;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 90px;


    position: fixed;
    width: 100%;

    box-shadow: 0px 5px 8px rgba(21, 21, 21, 0.5);
}

main {
    padding-top: 90px;
}

nav {
    display: flex;
    align-items: center;
    height: 55px;
    font-size: 1.25rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    padding: 1rem 2rem;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: var(--ColorLetra);
    transition: all 0.3s ease;
}

nav a:hover {
    font-size: 1.50rem;
}

section#home {
    padding: 45px 90px;
}

section#destacados,
section#actor,
section#awards,
section#top-week {
    height: 100vh;
    scroll-margin-top: 90px;
    padding: 45px 90px;
    background: conic-gradient(at left top, rgb(17, 24, 39), rgb(33, 28, 135), rgb(85, 58, 237));
    color: var(--ColorLetra);
    /* border: 1px dashed rgb(197, 142, 117); */
}

/*linear-gradient(to right, rgb(254, 240, 138), rgb(250, 204, 21), rgb(161, 98, 7))*/

.title-of-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 20vh;
}

section#home h1{
    font-size: 2rem;
}

section.title-of-section h1 {
    text-transform: uppercase;
    font-size: 2rem;
    /* border-bottom: 5px solid rgb(197, 142, 117); */
    color: var(--ColorLetra);
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

section#destacados h2,
section#actor h2,
section#awards h2,
section#top-week h2{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

footer {
    height: 50vh;
    color: var(--ColorLetra);
}

header,
footer {
    background-color: var(--HeadFoot);
}

footer#footer {
    padding: 45px 90px;
    display: flex;
    flex-direction: column;
}

footer#footer h1 {
    margin-bottom: 10px;
}

#home {
    background: url('../img/banner.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 60vh;
}

.home-banner {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--ColorLetra);

    gap: 1rem;
}

#logo,
#contacto {
    width: 55px;
    height: 55px;
    margin: 20px;
    display: flex;
    filter: invert(1);
    transition: all 0.2s ease;
}

#logo:hover,
#contacto:hover {
    width: 60px;
    height: 60px;
}

#logo>img,
#contacto>img {
    /* background-image: white; */
    width: 55px;
    height: auto;
}

#btn-ir-arriba:hover {
    background: #c8c8c8;
    transform: translateY(-0.5rem);
}

#btn-ir-arriba {
    cursor: pointer;

    position: fixed;
    bottom: 20px;
    right: 20px;

    background: #ffffff;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;

    box-shadow: 0px 8px 6px rgba(248, 248, 248, 0.1);
    transition: 100ms step-start;

    display: none;
    transition: all 0.2s ease;
}

#btn-ir-arriba svg {
    stroke: var(--Fondo);
    stroke-width: 3px;
    width: 25px;
    fill: none;
}

footer div{
    margin: 10px;
    height: 30vh;
}
footer div.title-footer{
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
}

input#asunto, input#comment {
    font-size: var(--FontSize);
    font-weight: var(--FontWeight);
    height: 35px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
button#send{
    cursor: pointer;
    font-size: var(--FontSize);
    background-color: white;
    border-radius: 5px;
    height: 35px;
    width: 85px;
    font-weight: var(--FontWeight);
    transition: all 0.3s ease;
}
button#send:hover, input:hover{
    background: var(--ColorLetra);
}

label, input {
    margin-bottom: 20px;
}

footer div div > div {
    display: flex;
    flex-direction: column;
}

footer div div div{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

footer div div div img{
    cursor: pointer;
    filter: invert(1);
    margin: 10px;
    width: 55px;
    height: 55px;
    transition: all 0.2s ease;
}

footer div div div img:hover{
    width: 60px;
    height: 60px;
}

footer div div.social-media {
    margin-right: 100px;
}