:root {
    --Fondo: #280c61;
    --ColorLetra: #dfd5d5;
    --HeadFoot: #1a0446;
    --FontSize: 18px;
    --FontWeight: 600;
    --NavFontSize: 1.15rem;
    --SectionTitleFontSoze: 2rem;
    --HoverFontSize: 1.2rem;
    --BorderRadius: 30px;
}

@media (min-width:1020px) {
    :root {
        --FontSize: 24px;
        --FontWeight: 600;
        --NavFontSize: 1.35rem;
        --SectionTitleFontSoze: 2.50rem;
        --HoverFontSize: 1.50rem;
    }
}

@media (min-width:990px) {
    :root {

        --FontSize: 24px;
        --FontWeight: 600;
        --NavFontSize: 1.25rem;
        --SectionTitleFontSoze: 2.50rem;
        --HoverFontSize: 1.30rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--Fondo);
    font-size: var(--FontSize);
    font-weight: var(--FontWeight);
    text-align: justify;
}

.fila {
    display: flex;
    flex-direction: row;
}

.columna {
    display: flex;
    flex-direction: column;
}

.centrado {
    align-items: center;
}

.justificado-centrado {
    justify-content: center;
}

.fila-reversa {
    display: flex;
    flex-direction: row-reverse;
}

.flex {
    display: flex;
}

header {
    flex-direction: row;
    justify-content: space-between;

    height: 90px;

    position: fixed;
    width: 100%;

    box-shadow: 0px 5px 8px rgba(21, 21, 21, 0.5);
}

@media(max-width:930px) {
    header {
        flex-direction: row-reverse;
        position: fixed;
    }
}

main {
    padding-top: 90px;
}

nav {
    display: flex;
    align-items: center;
    height: 55px;
    font-size: var(--NavFontSize);
}

.navegacion {
    cursor: pointer;
    font-size: relative;
    text-decoration: none;
    color: var(--ColorLetra);
    transition: all 0.3s ease;
    display: block;
    margin-top: 3px;
    padding-top: 0.5rem;
    margin-bottom: 3px;
    padding-bottom: 0.5rem;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

@media (min-width: 930px) {
    .navegacion {
        margin: 5px;
        cursor: pointer;
        font-size: relative;
        text-decoration: none;
        color: var(--ColorLetra);
        transition: all 0.3s ease;
        display: block;
        padding: 0rem 1rem;
    }
}


section#home {
    padding: 45px 90px;
    scroll-margin-top: 90px;
}

#main-menu {
    background-color: transparent;
    font-weight: var(--FontWeight);
    color: var(--ColorLetra);
    font-size: var(--NavFontSize);
    cursor: pointer;
    /* width: 180px;
    height: 40px; */
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 35px;
}

/* #main-menu:hover {
    background: var(--Fondo);
} */

@media (min-width: 930px) {
    #main-menu {
        display: none;
    }

}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


@media (min-width: 930px) {
    .navegacion:hover {
        font-size: var(--HoverFontSize);
    }

    .dropdown-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    }

}

@media (max-width: 930px) {
    /* .dropdown-child {
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: var(--HeadFoot);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        box-shadow: 0px 5px 8px rgba(21, 21, 21, 0.5);
    } */

    .dropdown-child {
        box-shadow: 0px 5px 8px rgba(21, 21, 21, 0.5);
        position: fixed;
        text-align: left;
        top: 0;
        bottom: 0;
        left: -300px;
        width: 300px;
        z-index: 1;
        padding: 90px 30px 30px;
        background-color: var(--HeadFoot);
        opacity: 0;
        transition: all 0.75s ease;
        overflow-y: auto;
    }

    .dropdown-child .navegacion {
        display: block;
        transition: all ease 0.25s;
    }

    .dropdown:hover .dropdown-child {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .dropdown .dropdown-child .navegacion:hover {
        background-color: var(--Fondo);
    }

    #main-menu {
        display: inline-block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 2;
    }

    #main-menu .hamburguesa {
        width: 100%;
        left: 0px;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        background: #fff;
        transition: all 0.25s ease;
        transform-origin: 0px 100%;
    }

    #main-menu .hamburguesa:nth-child(1) {
        top: 0;
    }

    #main-menu .hamburguesa:nth-child(2) {
        top: calc(40%);
    }

    #main-menu .hamburguesa:nth-child(3) {
        bottom: 0;
    }

    .visible-menu .hamburguesa:nth-child(1) {
        transform: rotate(45deg) translate(-2px, 1px);
    }

    .visible-menu .hamburguesa:nth-child(2) {
        opacity: 0;
    }

    .visible-menu .hamburguesa:nth-child(3) {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .visible-menu .dropdown-child {
        left: 0;
        opacity: 1;
    }
}

section#destacados,
section#actor,
section#awards,
section#top-week {
    height: auto;
    padding: 45px 90px;
    background: conic-gradient(at left top, rgb(17, 24, 39), rgb(33, 28, 135), rgb(85, 58, 237));
    color: var(--ColorLetra);
    /* border: 1px dashed rgb(197, 142, 117); */
}

@media (max-width: 460px) {

    section#destacados,
    section#actor,
    section#awards,
    section#top-week,
    section#home {
        padding: 45px 20px;
    }
}

.awards-info {
    flex-direction: row;
}

.awards-actor {
    width: 350px;
    height: auto;
    border-radius: var(--BorderRadius);
}

.awards-info img,
.awards-info p {
    padding: 10px;
}

@media (max-width:400px) {
    .awards-actor {
        width: 300px;
        height: auto;
    }
}

@media (max-width:820px) {
    .awards-info {
        flex-direction: column;
    }
}

.awards-texto{
    flex-direction: column;
    align-items: center;
}

.awards-ver-mas {
    cursor: pointer;
    font-size: var(--FontSize);
    border-radius: var(--BorderRadius);
    transition: all 0.3s ease;
    font-size: var(--FontSize);
    font-weight: var(--FontWeight);
}

.awards-ver-mas div{
    align-items: center;
}

.awards-ver-mas a{
    color: var(--HeadFoot);
    text-decoration: none;
}

.awards-ver-mas svg {
    stroke: var(--Fondo);
    stroke-width: 3px;
    width: 25px;
    fill: none;
    transform: rotate(90deg) translate(1px, 1px);
}

/*linear-gradient(to right, rgb(254, 240, 138), rgb(250, 204, 21), rgb(161, 98, 7))*/

.title-of-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 20vh;
    scroll-margin-top: 90px;
}

section#home h1 {
    font-size: var(--SectionTitleFontSoze);
    text-align: center;
}

section h2 {
    text-align: center;
}

section.title-of-section h1 {
    text-transform: uppercase;
    font-size: var(--SectionTitleFontSoze);
    /* border-bottom: 5px solid rgb(197, 142, 117); */
    color: var(--ColorLetra);
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

section#destacados h2,
section#actor h2,
section#awards h2,
section#top-week h2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

footer {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    color: var(--ColorLetra);
    scroll-margin-top: 90px;
}

.bg-header-footer {
    background-color: var(--HeadFoot);
}

footer#footer {
    padding: 45px 90px;
    display: flex;
    flex-direction: column;
}

footer#footer h1 {
    margin-bottom: 10px;
    text-align: center;
}

#home {
    display: flex;
    justify-content: center;
    background: no-repeat center center, linear-gradient(rgba(0, 0, 0, 0.5), rgba(45, 81, 131, 0.5)), url('../img/banner1.jpg');
    background-size: cover;
    width: 100%;
    min-height: 40rem;
}

.home-banner {
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--ColorLetra);

    gap: 1rem;
}

#logo {
    width: 55px;
    height: 55px;
    margin: 20px;
    display: flex;
    filter: invert(1);
    transition: all 0.2s ease;
}

#logo:hover {
    width: 60px;
    height: 60px;
}

#btn-ir-arriba:hover {
    background: #c8c8c8;
    transform: translateY(-0.5rem);
}

#btn-ir-arriba {
    cursor: pointer;

    position: fixed;
    bottom: 20px;
    right: 20px;

    background: #ffffff;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;

    box-shadow: 0px 8px 6px rgba(248, 248, 248, 0.1);
    transition: 100ms step-start;

    display: none;
    transition: all 0.2s ease;
}

#btn-ir-arriba svg {
    stroke: var(--Fondo);
    stroke-width: 3px;
    width: 25px;
    fill: none;
}

.margen {
    margin: 5px;
}

.title-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 10px;
}

@media (min-width: 768px) {

    .title-footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}


.input-sub-com {
    font-size: var(--FontSize);
    font-weight: var(--FontWeight);
    height: 35px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button-form {
    cursor: pointer;
    font-size: var(--FontSize);
    color: var(--HeadFoot);
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 95px;
    font-weight: var(--FontWeight);
    transition: all 0.3s ease;
}

.form-input-hover:hover {
    background: var(--ColorLetra);
}

label,
input {
    margin-bottom: 20px;
}



@media (min-width:768px) {
    .margen {
        margin: 2rem;
    }

}

.social {
    cursor: pointer;
    filter: invert(1);
    margin: 10px;
    width: 55px;
    height: 55px;
    transition: all 0.2s ease;
}


.logos {
    align-items: center;
    margin-top: -9rem;
}

.logos_logo {
    margin-top: 11rem;

}

@media (min-width:768px) {
    .logos_logo {
        margin-top: 12rem;
    }

}

.social:hover {
    width: 60px;
    height: 60px;
}

footer div div.social-media {
    gap: 1rem;
}

.copy {
    text-align: center;
    margin-top: 95px;
}

@media (min-width:768px) {
    .copy {
        margin-top: -22px;
    }
}

.form-div {
    margin-bottom: 4rem;
}

@media (min-width:768px) {
    .form-div {
        margin-bottom: 0rem;
    }
}

.slider-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.slider-container div {
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    text-align: center;
}

div.img-destacados {
    margin-bottom: 15px;
    transition: all 0.3s ease;
    border-radius: var(--BorderRadius);
    background: transparent;
    text-align: center;
}

.img-destacados:hover {
    background: #350d98;
}

.slider-container .img-destacados img {
    border-radius: var(--BorderRadius);
    margin: 10px;
    width: 240px;
    height: 330px;
    padding: 5px 10px;
    cursor: pointer;
}

.slider-container div p {
    margin-bottom: 10px;
}

@media screen and (max-width: 1020px) {
    .slider-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .comment-zone {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 760px) {
    .slider-container {
        grid-template-columns: 1fr 1fr;
    }

    .comment-zone {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 545px) {
    .slider-container {
        grid-template-columns: 1fr;
    }
}

.actor-section {
    flex-direction: column;
}

@media (max-width:530px) {

    .actor-section {
        flex-direction: column;
        align-items: center;
    }
}

.actor-section div img,
.actor-section div p,
.actor-section div h3 {
    padding: 10px
}

.actor-section img {
    border-radius: var(--BorderRadius);
}

.checked {
    color: orange;
}

.actor-info {
    flex-direction: row;
}

@media screen and (max-width:620px) {
    .actor-info {
        flex-direction: column;
        align-items: center;
    }
}

.comment-area {
    padding: 10px;
    margin-top: 10px;
    display: row;
    border-radius: var(--BorderRadius);
    width: 300px;
    height: auto;
    background-color: var(--Fondo);
    transition: all 0.3s ease;
}

.comment-zone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1470px) {
    .comment-zone {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1180px) {
    .comment-zone {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 860px) {
    .comment-zone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.comment-area:hover {
    background-color: #411e85;
}

.comment-area p {
    font-size: 1.1rem;
}



.comment {
    padding: 10px;
}